

/*******************************************************************************
 *                                                                             *
 * Side Menu CSS                                                               *
 *                                                                             *
 ******************************************************************************/
.menu{
	-fx-padding: 20.0,10.0;
	-fx-font-size: 15.0;
	-fx-font-weight: NORMAL;
	-fx-text-fill: #444;
}


.tree-table-cell {
    -fx-alignment: center ;
}

.tree-table-view{
   -fx-background-color: #b2b9c4;
   -fx-border-color: #525053; 
}
.tree-table-view:focused{
    -fx-background-color: transparent;
}
.tree-table-view .column-header-background{
    -fx-background-color: #e6553a;
}
.tree-table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    
}
.tree-table-view .table-column {
  -fx-alignment: center;
}
.tree-table-view .column-header {
    -fx-background-color: transparent;
}
.tree-table-view .table-row-cell{
    -fx-background-color: #E4E4E4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-font-size:13px;
    /*-fx-border-color : red;*/
}
.tree-table-view .table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 11pt;
}