

/*******************************************************************************
 *                                                                             *
 * Side Menu CSS                                                               *
 *                                                                             *
 ******************************************************************************/
.menu{
	-fx-padding: 20.0,10.0;
	-fx-font-size: 15.0;
	-fx-font-weight: NORMAL;
	-fx-text-fill: #444;
}

.tree-table-cell {
    -fx-alignment: center ;
}
.tree-table-cell:centered {
    -fx-alignment: center ;
}